.parentCheckbox{

    width:400px;
    background: linear-gradient(70deg, rgb(13, 13, 51), purple);
    border: 1px solid black;
    border-radius: 15px;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.checkbox {
    /*display:block;*/
    max-width: 180px;
    /*color: white;*/
    /*background-color: rgb(65, 9, 87);*/
    /*border-radius: 15px;*/
    /*font-family: 'Courier New', Courier, monospace;*/
    display: inline-block;
    color: rgb(255, 255, 255);
    flex-direction: column;
    justify-content: center;
    gap: 0.4rem;
    width: auto;
    padding: 1.3rem;
    height: auto;


    height: auto;
    font-family: 'Courier New', Courier, monospace;
}
label {
    margin: 10px 5px 10px 5px;
}

button {
    background-color: darkblue;
    color: azure;
    border: 0px;
}